.title {
    height: 100px;
}

.button {
    width: 75px;
    margin: 10px;
}

body {
    background: #f46b45;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;

}

#container {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 30px;
}

.icons {
    width: 280px;
    height: 280px;
}